---
---
<header class="nav">
  <div class="wrap">
    <a class="logo" href="/#top" aria-label="SiteStac home"><img src="/logo.png" alt="SiteStac" class="logo-img" width="200" height="100" /></a>
    <nav>
      <a class="link" href="/#stak">The Stak</a>
      <a class="link" href="/#build">Build</a>
      <a class="link" href="/#pricing">Pricing</a>
      <a class="link" href="/blog">Blog</a>
      <a class="btn" href="/#start" data-magnetic>Get a free preview</a>
    </nav>
  </div>
</header>
